@model SalesManagementApplication.Models.Seller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
</div>
<div>
    @{
        foreach (var year in Model.SalesPerYearPerSeller)
        {
            <br />
            <hr />
            <strong>Year : </strong>@year.Key;
            <hr />
            foreach (var month in year.GroupBy(a => a.DateOfSale.Month))
            {
                <br />
                <strong>Month : </strong>@Model.MonthPerKey[month.Key];
                <br />
                var sumSupply = 0m;
                var quantitySales = 0;
                foreach (var supply in month)
                {
                    sumSupply += supply.TransactionAmount * 0.1m;
                    quantitySales++;
                }
                <strong>Supply : </strong>@sumSupply;
                <br />
                <strong>Sales Count : </strong>@quantitySales;
                <br />
            }
        }
    }
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
